.form-container-signup {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 300px;
  border: 0.2px, solid, #454343;
  padding: 15px;
box-shadow: rgba(147, 147, 147, 0.3) 0px 19px 38px, rgba(100, 100, 100, 0.22) 0px 15px 12px;
}

.link-s-l{

    color: rgb(43, 49, 226);
    text-decoration: none;
    margin-left: 4px;
}

.signup-text{

    color: #e1e1e1;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}
.err-msg{
  color: red;
  text-align: center;
  font-family: sans-serif;
}