.title2 {
  font-family: "Lucida Handwriting", "Apple Chancery", cursive;
  


}



:root {
  --color-background: #242424;
  --stroke-width: calc(2em / 16);
  --font-size: 2vmin;
  --font-weight: 900;
  --letter-spacing: calc(1em / 8);
}





.title2 {
  background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #feba0f);
  color: var(--color-background);
  font-size: 24px;
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
}

.navigation-bar {
  width: 250px;
  background: #ffffff;
  height: 100vh;
  border-right: 1px solid #c8c8c8;
  padding: 10px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.navigation-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}
.link-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  margin: 6px 0;
  border-radius: 8px;
  font-size: 16px;
  color: #6f7276;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link-item:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #000000;
}


.link-item.active {
  background: #000000;  
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  width: 50%;
}

.link-item.active .icons {
  color: #ffffff;
}

.icons {
  font-size: 2cap;
  margin-right: 5px;
}

.home-container {
  display: flex;

  height: 100vh;
 


}

.main-content {
  flex: 1;
  margin-left: 220px;
  padding: 20px;


  overflow-y: auto;
  height: 100vh;
}
.profile-picture{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.profile-ring {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
  background-color: #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.placeholder {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #999;
  border: 3px solid white;
}

.upload-btn {
  background-color: transparent;
  border: 1px solid #595959;
  padding: 6px;
  border-radius: 10px;

  width: 200px;
  margin-right: 10px;
}

.profile-photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.edit-profile {
  display: flex;
  align-items: center;
}

.profile-page {
  height: 100vh;
  margin-left: 5%;
  margin-top: 2%;
  width: 100%;
}

.remove-btn {
  background-color: transparent;
  border: 1px solid #595959;
  padding: 10px;
  border-radius: 10px;
}

.profile-head {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.profile-details {
  margin-left: 10%;
}

.post-count {
  color: #595959;
  font-family: sans-serif;
}
.count {
  color: #000000;
  font-weight: bold;
}

.posts-container {
  margin-top: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

hr {
  width: 90%;
}

.icon {
  font-size: 30px;
  margin-left: 43%;
}

.imgcard {
  background-color: #000000;
  height: 150px;
  width: 150px;
}
.likes-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 5%;
  border-top: 0.5px solid #9a9a9a;
  padding: 7px;
}

.post {
  width: 200px;
  height: 250px;
  padding: 7px;
  border: 0.5px solid #8c8c8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 20px;
}


.branch{
  font-weight: 200;
  font-family: fantasy;
}

.navigation-bar-min{
  display: none;
}

@media (max-width: 768px) {

  .navigation-bar{
    display: none;
  }

  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }


  .main-content {
 

  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  margin-left: 15px;
  padding: 30px;
}

.navigation-links-min{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  list-style: none;
 
}

.navigation-bar-min{
  display: flex;
  min-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border-radius: 7px;
}

}


.user-details{
  display: flex;
  
  align-items: center;
  margin-top: 120px;
  border: 1px solid #d4d2d2;
  padding: 10px;
  border-radius: 30px;
  
}

