.loginpage-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  border: 0.2px, solid, #454343;
  padding: 15px;
  box-shadow: rgba(147, 147, 147, 0.3) 0px 19px 38px, rgba(100, 100, 100, 0.22) 0px 15px 12px;
}
.title {
  font-family: "Lucida Handwriting", "Apple Chancery", cursive;
  text-align: center;
  
}






.title {
  background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #feba0f);
  color: var(--color-background);
  font-size: 24px;
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
}


.input-bar {
  border: 0.2px, solid, #454343;
  background-color: #181818;
  padding: 7px;
  margin-bottom: 15px;
  border-radius: 4px;
  color: #ffffff;
}

.login-btn {
  background-color: #4f46e5;
  color: #f1f5f9;
  border-radius: 10px;
  align-self: center;
  margin-top: 10px;
  width: 90%;
  height: 40px;
  border: 0px;
}

.signup-card{
    height: 50px;
  width: 320px;
  border: 0.2px, solid, #454343;
  padding: 5px;
  color: white;
  text-align: center;
  margin-top: 5%;
  font-family: sans-serif;
}
.errormesg{
  color: red;
  text-align: center;
  font-family: sans-serif;
}

