.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:transparent ;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);

}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 500px;
  position: relative;
    border: 1px solid rgb(144, 144, 144);
    height: 70%;
     overflow-y: auto;

}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.modal-profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name{
  font-style:italic;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(119, 119, 119);
}